In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('311_Service_Requests_2020.csv')

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (20,31,32) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2587316 entries, 0 to 2587315
Data columns (total 41 columns):
 #   Column                          Dtype
---  ------                          -----
 0   Unique Key                      int64
 1   Created Date                    object
 2   Closed Date                     object
 3   Agency                          object
 4   Agency Name                     object
 5   Complaint Type                  object
 6   Descriptor                      object
 7   Location Type                   object
 8   Incident Zip                    float64
 9   Incident Address                object
 10  Street Name                     object
 11  Cross Street 1                  object
 12  Cross Street 2                  object
 13  Intersection Street 1           object
 14  Intersection Street 2           object
 15  Address Type                    object
 16  City                            object
 17  Landmark                        object
 18  Facility Type                   object
 19  Status                          object
 20  Due Date                        object
 21  Resolution Description          object
 22  Resolution Action Updated Date  object
 23  Community Board                 object
 24  BBL                             float64
 25  Borough                         object
 26  X Coordinate (State Plane)      float64
 27  Y Coordinate (State Plane)      float64
 28  Open Data Channel Type          object
 29  Park Facility Name              object
 30  Park Borough                    object
 31  Vehicle Type                    object
 32  Taxi Company Borough            object
 33  Taxi Pick Up Location           object
 34  Bridge Highway Name             object
 35  Bridge Highway Direction        object
 36  Road Ramp                       object
 37  Bridge Highway Segment          object
 38  Latitude                        float64
 39  Longitude                       float64
 40  Location                        object
dtypes: float64(6), int64(1), object(34)
memory usage: 809.3+ MB

In [37]:
df1= df[df['Incident Zip']==10025]

In [38]:
incident_type = df1.groupby('Complaint Type').size()

In [39]:
incident_type = pd.DataFrame(incident_type,columns=['Number'])
incident_type

                         Number
Complaint Type
APPLIANCE                   111
Abandoned Vehicle            59
Air Quality                 132
Animal in a Park             49
Animal-Abuse                 39
...                         ...
WATER LEAK                  154
Water Conservation            9
Water Quality                75
Water System                297
X-Ray Machine/Equipment       1

[132 rows x 1 columns]

In [46]:
sort_incident = incident_type.sort_values(by=['Number'],ascending = False).head(10)
sort_incident

                             Number
Complaint Type
Noise - Residential            2952
Noise - Street/Sidewalk        2128
HEAT/HOT WATER                 1885
Noise                          1131
Illegal Parking                 792
Noise - Vehicle                 787
Non-Emergency Police Matter     773
Rodent                          691
Illegal Fireworks               672
UNSANITARY CONDITION            565

In [60]:
top_ten =sort_incident.squeeze()
print(top_ten)

Complaint Type
Noise - Residential            2952
Noise - Street/Sidewalk        2128
HEAT/HOT WATER                 1885
Noise                          1131
Illegal Parking                 792
Noise - Vehicle                 787
Non-Emergency Police Matter     773
Rodent                          691
Illegal Fireworks               672
UNSANITARY CONDITION            565
Name: Number, dtype: int64